* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorA: #331a15;
    --colorB: #d39240;
    --colorC: #b07c40;
    --colorD: #917631;
    --colorE: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */

header {
    background-color: var(--colorB);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
}

header .nameplate {
    width: 195px;
    background-color: var(--colorA);
}

header .nameplate span {
    display: flex;
    justify-content: right;
    margin-right: 15px;
    color: white;
    font-size: 40px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 18px;
    width: 350px;
    margin-right: 20px;
}

header nav ul li {
    border-bottom: 2px var(--colorD) solid;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    color: var(--colorE);
}

.headerimg {
    background-image: url(../images/IMG_0671_cropped.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.headerimg span {
    background-color: var(--colorA);
    color: white;
    font-size: 24px;
    height: 40px;
    padding: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
}


/*TOP*/

.main_container {
    margin-top: 15px;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.left_side_title {
    flex: 1 1 30%;
    gap: 1em;
    min-width: 8ch;
    max-width: 18ch;
    border-right: 4px solid var(--colorA);
    text-align: right;
    padding-right: 10px;
}

.main_container>*:nth-child(2) {
    flex: 1 1 70%;
    gap: 1em;
    max-width: 135ch;
}


/*Middle*/

.work_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1em;
}

.work_grid>* {
    border: 4px solid var(--colorA);
    padding: 10px;
    height: 250px;
    width: 45%;
    gap: 1em;
}

.work_grid>*:hover,
.work_grid .big_box:hover {
    border: 4px solid red;
    opacity: 80%;
}

.work_grid>*:nth-child(1) {
    background-image: url("../images/JacksonSquare.jpg");
    background-size: 1300px;
    background-position: center;
}

.work_grid>*:nth-child(2) {
    background-image: url("../images/DSCN0766.JPG");
    background-size: 98%;
    background-position: center;
}

.work_grid>*:nth-child(3) {
    background-image: url("../images/IMG_0508.JPG");
    background-size: 100%;
    background-position: center;
}

.work_grid>*:nth-child(4) {
    background-image: url("../images/IMG_0940.JPG");
    background-size: 100%;
    background-position: center;
}

.work_grid>*:nth-child(5) {
    background-image: url("../images/IMG_1083.JPG");
    background-size: 100%;
    background-position: right;
}

h2 {
    font-size: 36px;
}

.work_grid .big_box {
    display: block;
    width: 91.5%;
    height: 600px;
    border: 4px solid var(--colorA);
    /* padding-bottom: 40%; */
}

.mini_box {
    /* width: 20%; */
    height: 260px;
}

.mini-caption {
    border: 1px var(--colorD) solid;
    background-color: var(--colorB);
    color: black;
    font-weight: bold;
    height: 150px;
    padding: 20px;
    position: relative;
    top: 85%;
    left: 0;
}


/*Bottom*/

.main_container .contactMethods ul {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.main_container .contactMethods ul li {
    list-style: none;
    display: inline;
    margin-top: 5ch;
}

.main_container .contactMethods ul li a {
    text-decoration: none;
    margin: 10px;
    color: black;
    border-bottom: 2px var(--colorD) solid;
}

.main_container .contactMethods ul li a:hover {
    color: var(--colorD);
}


/* MEDIA QUERIES */

@media screen and (max-width:600px) {
    .main_container {
        flex-direction: column;
    }
    .left_side_title {
        border: none;
        min-width: none;
        max-width: none;
    }
    h2 {
        text-align: center;
    }
    .main_container>:nth-child(2) {
        padding: 10px;
    }
    .box,
    .work_grid .big_box {
        width: 100%;
    }
}