* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorA: #331a15;
    --colorB: #d39240;
    --colorC: #b07c40;
    --colorD: #917631;
    --colorE: #fff;
    --pageWidth: 900px;
}

body {
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */

header {
    width: var(--pageWidth);
    background-color: var(--colorB);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
}

header .nameplate {
    width: 195px;
    background-color: var(--colorA);
}

header .nameplate span {
    display: flex;
    justify-content: right;
    margin-right: 15px;
    color: white;
    font-size: 40px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 18px;
    width: 350px;
    margin-right: 20px;
}

header nav ul li {
    border-bottom: 2px var(--colorD) solid;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    color: var(--colorE);
}

.headerimg {
    width: var(--pageWidth);
    background-image: url(../images/IMG_0671_cropped.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-basis;
}

.headerimg span {
    background-color: var(--colorA);
    color: white;
    font-size: 24px;
    height: 40px;
    padding: 5px;
    position: relative;
    right: 20px;
    top: 100px;
}


/* CONTENT SECTION */

.aboutMe {
    width: var(--pageWidth);
    display: flex;
    justify-content: space-between;
}

.aboutMe .leftSide {
    color: var(--colorA);
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    border-right: 2px var(--colorA) solid;
    padding: 10px;
    margin: 10px;
}